@import "default.css";

/* navigation */

nav ul {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav li {
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    height: 40px;
}

nav li:hover {
    color: white;
}

section.active {
    display: block;
}

section.inactive {
    display: none;
}

/*  */

.section-description {
    font: 30px "Nixie One", Tahoma, serif;
    height: 40px;
}

form {
    margin-left: 15px;
    margin-top: 15px;
}

/* footer */

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.nav-footer{
 display: none;
}

/* media queries */

@media (max-width: 768px) {
    .md-section {
        display: none;
    }
}